html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
}
.container {
  border: 2px solid gray;
  background: url(../src/image/fifty\ shades.jpg) no-repeat;
  height: 200vh;
  width: 200%;
  object-fit: cover;
  opacity: 0.1px;
}
